    <div>
        <img src="https://capsule-render.vercel.app/api?type=waving&height=150&color=blue&section=footer&reversal=true&descAlign=69&descAlignY=69&textBg=false&fontAlign=67&fontAlignY=63" width="100%" style="position: fixed; left: 0;bottom: 0;z-index: -1; width: 100%; ">
    </div>