<link rel="stylesheet" href="/stylesheets/header.css">
<!-- <h1>MedicDictionary</h1> -->

<div class="nav">
  <p onclick="location.href='/profile'">Home</p>
  <p onclick="location.href='/transactions'">Transactions</p>
  <p onclick="location.href='/logout'">Logout</p>
</div>